{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}PalSU Library | My Account{% endblock %}

{% block content %}
    <div id="content" name="content" class="main">
        <div class="row justify-content-center">
            <div class="col-10">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-warning">Update Account</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}