{% extends 'base.html' %}

{% block title %}PalSU Library | Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% else %}
        <p>You are currently not logged in. <a href="/login">Log In here</a></p>
    {% endif %}
    <div class="library-image">
    </div>
    <div class="buttons">
        <a href="/my-account" class="item">
            <i class="fa-solid fa-user fa-2xl"></i>
            <br />
            <br />
            My Account
        </a>
        <a href="/my-library-card" class="item">
            <i class="fa-solid fa-id-card fa-2xl"></i>
            <br />
            <br />
            My Library Card
        </a>
        <a href="/update-account" class="item">
            <i class="fa-solid fa-user-pen fa-lg"></i>
            <br />
            <br />
            Update Account
        </a>
    </div>
{% endblock %}