{% extends 'base.html' %}

{% block title %}PalSU Library | My Library Card{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="library_card">
            <h2>My Library Card</h2>
            <hr style="border: 2px solid black;">
            <div class="library_card_images">
                <div class="image">
                    <p><b>FRONT:</b></p>
                    <img src="{{ user_info.front_library_card.url }}" alt="">
                </div>
                <div class="image">
                    <p><b>BACK:</b></p>
                    <img src="{{ user_info.back_library_card.url }}" alt="">
                </div>
            </div>
        </div>
    {% else %}
        <p>You need to log in to access this page. <a href="/login">Log In here</a></p>
    {% endif %}
{% endblock %}