{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}PalSU Library | Update Account{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div id="content" name="content" class="main" style="margin-bottom: 2%;">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2>Update Account</h2>
                    <hr style="border: 2px solid black;">
                    <p>
                        Kindly use <a href="https://www.vflat.com/?lang=en">vflat</a> to take a picture of your library card
                        <br>
                        Android: <a href="https://play.google.com/store/apps/details?id=com.voyagerx.scanner&hl=en&gl=US">Download Here</a>
                        <br>
                        IOS: <a href="https://apps.apple.com/in/app/vflat-scan-pdf-scanner/id1540238220">Download Here</a>
                    </p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-warning">Update Account</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <p>You need to log in to access this page. <a href="/login">Log In here</a></p>
    {% endif %}
{% endblock %}