{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}PalSU Library | Update Account{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div id="content" name="content" class="main" style="margin-bottom: 2%;">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h2>Update Account</h2>
                    <hr style="border: 2px solid black;">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-warning">Update Account</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <p>You need to log in to access this page. <a href="/login">Log In here</a></p>
    {% endif %}
{% endblock %}